 @import 'base/variables';
 @import 'base/media';
 * {
     font-family: 'Museo Sans', serif;
 }
 
 a {
     text-decoration: none;
 }
 
 .container {
     max-width: 950px;
     margin: 0 auto;
     position: relative;
 }
 
 @import 'base/animation';
 @import 'block/promo';
 @import 'block/header';
 @import 'block/titles';
 @import 'block/buttons';
 @import 'block/advantages';
 @import 'block/consultation';
 @import 'block/forms';
 @import 'block/carousel';
 @import 'block/buttons';
 @import 'block/catalog';
 @import 'block/reviews';
 @import 'block/footer';
 @import 'block/modal';
 @import 'block/pageup';