 @import 'base/variables';
<<<<<<< HEAD
 @import 'base/media';
=======
>>>>>>> main
 * {
     font-family: 'Museo Sans', serif;
 }
 
 a {
     text-decoration: none;
 }
 
 .container {
     max-width: 950px;
     margin: 0 auto;
 }
 
 @import 'block/promo';
 @import 'block/header';
<<<<<<< HEAD
 @import 'block/titles';
 @import 'block/buttons';
 @import 'block/advantages';
 @import 'block/consultation';
 @import 'block/forms';
 @import 'block/carousel';
=======
 @import 'block/buttons';
>>>>>>> main
